.calculator {
  width: calc(50px * 4);
  height: auto;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
}
/* button */
.calculator button {
  width: 50px;
  height: 50px;
  color: #486581;
  font-size: 14px;
  border: 0;
  outline: 1px solid snow;
  background-color: transparent;
  cursor: pointer;
}
.calculator button:hover,
.calculator button:focus {
  color: #334e68;
  background-color: #f0f4f8;
}
.container .calculator + .calculator {
  margin-left: 16px;
}

/* screen */
.screen {
  height: auto;
  padding: 16px 24px;
  color: #fff;
  text-align: right;
  background-color: #212121;
}
.screen .cal_formula {
  color: #ccc;
  font-size: 12px;
  margin-bottom: 6px;
}
.screen .cal_total {
  font-size: 20px;
  font-weight: bold;
}

/* main */
.main {
  margin-top: 8px;
}
.s_flex .main {
  display: flex;
  flex-wrap: wrap;
}
.s_flex .main .equal {
  flex-grow: 2;
}
.s_grid .main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.s_grid .main .equal {
  grid-column: 2 / 4;
}
